.background-primary {
  background-color: #552c2c;
}

div .main-container {
  min-height: fit-content;
  /* background-color: #947d7d; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

br {
  border: solid 1px black;
}

.botonera-principal {
  height: 100px;
}

.fixed-table {
  max-height: calc(100vh - 300px);
}

.fixed-table thead th {
  position: sticky;
  top: -1px;
  background-color: #f8f9fa; /* Color similar al header de Bootstrap */
  z-index: 10;
}